*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    min-height: 100vh;
    background: rgb(204, 128, 128);
}
header{
    height: 60px;
    width:100%;
    background: black;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;

}
.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-list{
    display: flex;
}
nav ul li{
    list-style: none;
    display: inline;
    margin-left: 80px;
    font-weight: 550;
    text-transform: uppercase;

}
.logo{
    font-size: 24px;
}
.hero{
    width: 100%;
    height: auto;

    background: url('food2.webp');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 140px 0;
    margin-bottom: 20px;
}
.hero p{
    font-size: 36px;
    margin-bottom: 10px;
}
.hero h2{
    font-size: 36px;
    margin-bottom: 10px;
}
.search-box{
    max-width: 550px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-box input{
    width: 70%;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    border: 1px solod red;
}
.search-box button{
    padding: 10px 20px;
    outline: none;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    font-size: 1rem;
    cursor: pointer;
}
.recipes{
    padding: 50px 0;
}
.recipes h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    
}
.recipe-section{
    width: 90%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

}
.recipe-card{
    background: wheat;
    margin: 30px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0 0.1);

}
.recipe-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.recipe-card a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 15px 0;
    cursor: pointer;
}
.recipe-sections{
    width: 90%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}


.recipe-cards{
    background: wheat;
    margin: 30px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0 0.1);

}